BasedOnStyle: WebKit
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
SpaceBeforeCpp11BracedList: true
