[Desktop Entry]
Type=Application
Name=Omaweb
GenericName=Web Browser
Comment=A keyboard-driven web browser
Exec=omaweb %u
Icon=omaweb
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=omaweb
